# 1 - Basics

Minimal definition to start some basic codes in Python. For complete material please refeer to offical python documentation

https://docs.python.org/3.7/

***
## Import packages

Before to start code in Python we must import all packages that will be used in our code. Examples: Numpy, Matplotlib, SciPy, ...

A list of useful packages can be found here https://pythontips.com/2013/07/30/20-python-libraries-you-cant-live-without/.

### Syntax
```python
import package_name
```
or 
```python
import package_name as alias
```
***
## Read and write (NumPy)

Let's import `numpy` package and associate with 'np' alias and `random`.

In [4]:
# import packages
import numpy as np

Use numpy to save a list of numbers, initially stored in a variable 'a'.

In [28]:
# generate a list of numbers 0-9
a = np.arange(10)

# save list into a file
np.save('test.npy', a)

# print 'a' list 
print('Saved array', a)

Saved array [0 1 2 3 4 5 6 7 8 9]

A file `test.npy` is saved in same directory as this notebook. Let's load this file into a variable called 'b'.

In [29]:
# load saved file into 'b'
b = np.load('test.npy')

print('Loaded array', b)

Loaded array [0 1 2 3 4 5 6 7 8 9]

One can always use the syntax `help(function)` to print help details about a function or package. Try it

In [ ]:
help(np.save)

***

## For loop

In [30]:
import numpy as np
import random

Lets create a empty list and using a for loop add random float numbers to tis list.

In [35]:
# create a empty list
rand_list = []

# for loop
for r in range(10): 
    rand_list.append(random.random())

print(rand_list)

[0.167076251090987, 0.03471006484511652, 0.17458944373006025, 0.5975493969019973, 0.9069602891456771, 0.8842965836568352, 0.05306146733148642, 0.9941043918629366, 0.9568058155029807, 0.21644977531089726]

details https://docs.python.org/3.7/tutorial/controlflow.html#for-statements

***

## If

Conditional statment **if** test a conditional expression.

In [41]:
# declare a variable
var = 0

# Is 'var' equal to 0?
if var == 0:
    print('var is zero!')
else:
    print('var is not zero, but {}'.format(var))

var is zero!

Try change value of 'var' above and rerun the cell.

details https://docs.python.org/3.7/tutorial/controlflow.html#if-statements

## Read and write CSV (Pandas)

In [115]:
import requests
import pandas as pd

Let's download a CSV file from HTML address using `requests` and save it as a local file.

In [109]:
# load a file form URL
r = requests.get("https://covid.ourworldindata.org/data/total_cases.csv")

# Save locally as a CSV file
with open('CovidTotalCases.csv', 'wb') as f:
    f.write(r.content)

Using `Pandas` let open the local CSV file and look at the 5 last rows entries.

In [126]:
# Read CSV file
load_csv = pd.read_csv('CovidTotalCases.csv', delimiter=',')

# pandas head() shows first 5 entries
load_csv[-5:]

,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Ukraine,United Arab Emirates,United Kingdom,United States,United States Virgin Islands,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam
52,2020-03-13,132758,7.0,23.0,25.0,1.0,NaN,31.0,1.0,NaN,...,3.0,85.0,594.0,1264.0,NaN,NaN,NaN,1.0,NaN,39.0
53,2020-03-14,142534,7.0,33.0,26.0,2.0,1.0,34.0,8.0,NaN,...,3.0,85.0,802.0,1678.0,NaN,NaN,NaN,1.0,2.0,48.0
54,2020-03-15,153517,10.0,38.0,37.0,2.0,1.0,45.0,8.0,NaN,...,3.0,85.0,1144.0,1678.0,NaN,NaN,NaN,1.0,2.0,53.0
55,2020-03-16,167506,16.0,42.0,49.0,2.0,1.0,56.0,26.0,NaN,...,3.0,98.0,1395.0,1678.0,NaN,4.0,4.0,1.0,2.0,57.0
56,2020-03-17,179112,21.0,51.0,60.0,14.0,1.0,65.0,52.0,2.0,...,7.0,98.0,1547.0,3503.0,2.0,6.0,4.0,1.0,33.0,61.0